:root{
    --branco-principal: #FFFFFF;
    --cinza-seundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: linear-gradient( to right, #ffff, #230000);
    --fonte-principal: 'inter';
    --fundo-questionario: #000000a2;
    --cor-destaque: #000;
}

body{
    background-image: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: auto;
    padding: 0;
    scroll-behavior: smooth;
}

.principal{
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 3px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.frase-destaque{
    color: var(--branco-principal);
    font-size: 1.3em;
    font-weight: 520;
}

.titulo-destaque{
    color: var(--cor-destaque)
}

.container__caixa{
    margin: 0 6em;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.isadora-img{
    width: 400px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 439px;
}

.form{
    width: 270px;
    background-color: var(--fundo-questionario);
    border-radius: 20px;
    padding: 55px;
}

.form h2{
    text-align: center;
    font-size: 2em;
    color: var(--branco-principal);
    line-height: 20px;
    margin-bottom: 60px;
}

.form h2 span{
    font-size: 0.5em;
}

.input-box label{
    display: block;
    color: var(--branco-principal);
}

.input-box{
    margin-bottom: 20px;
}

.input-box input{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
}

.secundario__imagem{
    width: 70%;
}

.secundario{
    align-items: center;
    margin: 0 9em;
}

.bnt-enviar{
    text-align: center;
    margin-top: 40px;
}
 
.bnt-enviar input{
    width: 140px;
    height: 50px;
    border: 0;
    background-color: var(--fundo-questionario);
    color: var(--branco-principal);
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.txt.leads{
    height: 100vh;
}

.descricao__texto{
    color: var(--cinza-seundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal)
}
.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}
